[submodule "Megazone.Core"]
	path = Megazone.Core
	url = https://github.com/mz-private-projects/Megazone.Core.git
	branch = master
[submodule "Megazone.Api.Transcoder"]
	path = Megazone.Api.Transcoder
	url = https://github.com/mz-private-projects/Megazone.Api.Transcoder.git
	branch = master
[submodule "Megazone.ActivityLog"]
	path = Megazone.ActivityLog
	url = https://github.com/mz-private-projects/Megazone.ActivityLog.git
