/.vs/Megazone.HyperSubtitleEditor/v15/*.suo
/.vs/Megazone.HyperSubtitleEditor/v15/Server/sqlite3
/Megazone.Cloud.Cdn.ServiceInterface.Solbox/obj/
/Megazone.Cloud.Cdn.ServiceInterface/bin/
/Megazone.Cloud.Cdn.ServiceInterface/obj/
/Megazone.Cloud.Common.Domain/bin/
/Megazone.Cloud.Common.Domain/obj/
/Megazone.Cloud.Repository.IAM/bin/
/Megazone.Cloud.Repository.IAM/obj/
/Megazone.Cloud.Service.WorkerInfrastructure/bin/
/Megazone.Cloud.Service.WorkerInfrastructure/obj/
/Megazone.Cloud.Storage.Domain.S3/bin/
/Megazone.Cloud.Storage.Domain.S3/obj/
/Megazone.Cloud.Storage.Domain/bin/
/Megazone.Cloud.Storage.Domain/obj/
/Megazone.Cloud.Storage.Repository.S3/bin/
/Megazone.Cloud.Storage.Repository.S3/obj/
/Megazone.Cloud.Storage.Service.S3/bin/
/Megazone.Cloud.Storage.Service.S3/obj/
/Megazone.Cloud.Storage.Service.Upload/bin/
/Megazone.Cloud.Storage.Service.Upload/obj/
/Megazone.Cloud.Storage.ServiceInterface.Download/bin/
/Megazone.Cloud.Storage.ServiceInterface.Download/obj/
/Megazone.Cloud.Storage.ServiceInterface.S3/bin/
/Megazone.Cloud.Storage.ServiceInterface.S3/obj/
/Megazone.Cloud.Storage.ServiceInterface.Upload/bin/
/Megazone.Cloud.Storage.ServiceInterface.Upload/obj/
/Megazone.Cloud.Transcoder.Domain.ElasticTranscoder/bin/
/Megazone.Cloud.Transcoder.Domain.ElasticTranscoder/obj/
/Megazone.Cloud.Transcoder.Domain/bin/
/Megazone.Cloud.Transcoder.Domain/obj/
/Megazone.Cloud.Transcoder.Repository.ElasticTranscoder/bin/
/Megazone.Cloud.Transcoder.Repository.ElasticTranscoder/obj/
/Megazone.Cloud.Transcoder.Service/bin/
/Megazone.Cloud.Transcoder.Service/obj/
/Megazone.Cloud.Transcoder.ServiceInterface/bin/
/Megazone.Cloud.Transcoder.ServiceInterface/obj/
/Megazone.Cloud.User.Service.S3/bin/
/Megazone.Cloud.User.Service.S3/obj/
/Megazone.Cloud.User.ServiceInterface/bin/
/Megazone.Cloud.User.ServiceInterface/obj/
/Megazone.HyperSbutitleEditor.Repository/bin/
/Megazone.HyperSbutitleEditor.Repository/obj/
/Megazone.HyperSubtitleEditor.Domain.Video/bin/
/Megazone.HyperSubtitleEditor.Domain.Video/obj/
/Megazone.HyperSubtitleEditor.Domain/bin/
/Megazone.HyperSubtitleEditor.Domain/obj/
/Megazone.HyperSubtitleEditor.Presentation.Infrastructure/bin/
/Megazone.HyperSubtitleEditor.Presentation.Infrastructure/obj/
/Megazone.HyperSubtitleEditor.Presentation.Resource/bin/
/Megazone.HyperSubtitleEditor.Presentation.Resource/obj/
/Megazone.HyperSubtitleEditor.Presentation/bin/
/Megazone.HyperSubtitleEditor.Presentation/obj/
/Megazone.HyperSubtitleEditor.Service/bin/
/Megazone.HyperSubtitleEditor.Service/obj/
/Megazone.HyperSubtitleEditor.sln.DotSettings.user
/Megazone.HyperSubtitleEditor.Test/bin/
/Megazone.HyperSubtitleEditor.Test/obj/
/Megazone.HyperSubtitleEditor/bin/
/Megazone.HyperSubtitleEditor/obj/
/Megazone.SubtitleEditor.Resources/bin/
/Megazone.SubtitleEditor.Resources/obj/
/Megazone.VideoStudio.Presentation.Common.Infrastructure/bin/
/Megazone.VideoStudio.Presentation.Common.Infrastructure/obj/
/packages
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation.Infrastructure/obj/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation.Resource/obj/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation/obj/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter/obj/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation.Infrastructure/bin/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation.Resource/bin/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter.Presentation/bin/
/Tools/AtomyExcelConverter/Megazone.AtomyExcelConverter/bin/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
